In [4]:
# way of quickly creating lists

mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
# comprehensions
mylist2 =[letter for letter in mystring]
mylist2

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [10]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
# we can operate on each element and mutate it to create new array
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# we can also use if statments 
mylist = [x**2 for x in range(0, 11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [18]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5) * temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [19]:
# you can also use else statment - it is however ugly and better avoided
results = [x if x%2==0 else 'ODD' for x in range(0, 11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [21]:
# nested loops
mylist = []
for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [22]:
# possible but not readable so better avoid it
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]